[Unit]
Description=Zenith Hybrid Threat Detection Engine Backend
After=network.target

[Service]
User=AbasSec
WorkingDirectory=/home/AbasSec/Hybrid-Threat-Detection-Engine
ExecStart=/home/AbasSec/Hybrid-Threat-Detection-Engine/venv/bin/python3 -m uvicorn backend.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
